In [1]:


# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

In [2]:
# Read CSV in variable data
data = pd.read_csv("fatalities.csv")

# Information about data

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11124 entries, 0 to 11123
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          11124 non-null  object
 1   date_of_event                 11124 non-null  object
 2   age                           10995 non-null  float64
 3   citizenship                   11124 non-null  object
 4   event_location                11124 non-null  object
 5   event_location_district       11124 non-null  object
 6   event_location_region         11124 non-null  object
 7   date_of_death                 11124 non-null  object
 8   gender                        11104 non-null  object
 9   took_part_in_the_hostilities  9694 non-null   object
 10  place_of_residence            11056 non-null  object
 11  place_of_residence_district   11056 non-null  object
 12  type_of_injury                10833 non-null  object
 13  ammunition                    5871 non-null   object
 14  killed_by                     11124 non-null  object
 15  notes                         10844 non-null  object
dtypes: float64(1), object(15)
memory usage: 1.4+ MB

# Get description of data and some important statistical measures

In [8]:
data.describe()

                age
count  10995.000000
mean      26.745703
std       13.780548
min        1.000000
25%       19.000000
50%       23.000000
75%       31.000000
max      112.000000

# Check how many null values avilable in data in each colum

In [11]:

data.isna().sum()

name                               0
date_of_event                      0
age                              129
citizenship                        0
event_location                     0
event_location_district            0
event_location_region              0
date_of_death                      0
gender                            20
took_part_in_the_hostilities    1430
place_of_residence                68
place_of_residence_district       68
type_of_injury                   291
ammunition                      5253
killed_by                          0
notes                            280
dtype: int64

In [ ]:
#Q-1