In [ ]:
# MUHAMMAD EHSAN _ 20F 0312
# MUHAMMAD SHAHZAIB _ 20F 0317
# DS CLASS WORK

In [52]:
import pandas as pd

data1 = {
    'Noun': ['Ali', 'Bali', 'Tipu', 'Shifu'],
    'Height': [25, 30, 35, 40],
    'Residence': ['Lhr', 'LA', 'Fsd', 'Isb']
}

df1 = pd.DataFrame(data1)

print("\nDataFrame 1\n")
print(df1)

DataFrame 1

    Noun  Height Residence
0    Ali      25       Lhr
1   Bali      30        LA
2   Tipu      35       Fsd
3  Shifu      40       Isb

In [53]:
data2 = {
    'Noun': ['Shah', 'Ehsan', 'Ahmed', 'Hassan'],
    'Height': [31, 33, 40, 15],
    'Residence': ['Chiniot', 'Toba', 'Rajana', 'Gojra']
}

print("\nDataFrame 2\n")
df2 = pd.DataFrame(data2)
print(df2)

DataFrame 2

     Noun  Height Residence
0    Shah      31   Chiniot
1   Ehsan      33      Toba
2   Ahmed      40    Rajana
3  Hassan      15     Gojra

In [23]:
# MERGE
print("INNER\n")
merge_df = df1.merge(df2, on='Noun', how='inner')
print(merge_df)

print("\nLEFT\n")
merged_df_left = df1.merge(df2, on='Noun', how='left')
print(merged_df_left)

print("\nRIGHT\n")
merged_df_right = df1.merge(df2, on='Noun', how='right')
print(merged_df_right)

print("\nOUTER\n")
merged_df_outer = df1.merge(df2, on='Noun', how='outer')
print(merged_df_outer)

INNER

Empty DataFrame
Columns: [Noun, Height_x, Residence_x, Height_y, Residence_y]
Index: []

LEFT

    Noun  Height_x Residence_x  Height_y Residence_y
0    Ali        25         Lhr       NaN         NaN
1   Bali        30          LA       NaN         NaN
2   Tipu        35         Fsd       NaN         NaN
3  Shifu        40         Isb       NaN         NaN

RIGHT

     Noun  Height_x Residence_x  Height_y Residence_y
0    Shah       NaN         NaN        31     Chiniot
1   Ehsan       NaN         NaN        33        Toba
2   Ahmed       NaN         NaN        40      Rajana
3  Hassan       NaN         NaN        15       Gojra

OUTER

     Noun  Height_x Residence_x  Height_y Residence_y
0     Ali      25.0         Lhr       NaN         NaN
1    Bali      30.0          LA       NaN         NaN
2    Tipu      35.0         Fsd       NaN         NaN
3   Shifu      40.0         Isb       NaN         NaN
4    Shah       NaN         NaN      31.0     Chiniot
5   Ehsan       NaN         NaN      33.0        Toba
6   Ahmed       NaN         NaN      40.0      Rajana
7  Hassan       NaN         NaN      15.0       Gojra

In [31]:
# CONCAT

concat_vertically = pd.concat([df1, df2], axis=0)
print("Concatenated Vertically (ROWS)\n")
print(concat_vertically)

concat_horizontally = pd.concat([df1, df2], axis=1)
print("\n\nConcatenated Horizontally (COLUMNS)\n")
print(concat_horizontally)

Concatenated Vertically (ROWS)

     Noun  Height Residence
0     Ali      25       Lhr
1    Bali      30        LA
2    Tipu      35       Fsd
3   Shifu      40       Isb
0    Shah      31   Chiniot
1   Ehsan      33      Toba
2   Ahmed      40    Rajana
3  Hassan      15     Gojra


Concatenated Horizontally (COLUMNS)

    Noun  Height Residence    Noun  Height Residence
0    Ali      25       Lhr    Shah      31   Chiniot
1   Bali      30        LA   Ehsan      33      Toba
2   Tipu      35       Fsd   Ahmed      40    Rajana
3  Shifu      40       Isb  Hassan      15     Gojra

In [29]:
# COMBINE FIRST
combo = df1.combine_first(df2)

print("Combined DataFrame\n")
print(combo)

Combined DataFrame

    Noun  Height Residence
0    Ali      25       Lhr
1   Bali      30        LA
2   Tipu      35       Fsd
3  Shifu      40       Isb

In [43]:
# STACK

stacked_df = pd.concat([df1, df2], keys=['CLASS-1', 'CLASS-2'])

# Stack the DataFrame
stacked_df = stacked_df.stack()

print("\nStacked DataFrame\n")
print(stacked_df)

Stacked DataFrame

CLASS-1  Ali    Height            25
                Residence        Lhr
         Bali   Height            30
                Residence         LA
         Tipu   Height            35
                Residence        Fsd
         Shifu  Height            40
                Residence        Isb
CLASS-2  0      Height            31
                Residence    Chiniot
                Noun            Shah
         1      Height            33
                Residence       Toba
                Noun           Ehsan
         2      Height            40
                Residence     Rajana
                Noun           Ahmed
         3      Height            15
                Residence      Gojra
                Noun          Hassan
dtype: object

In [45]:
# UNSTACK
unstacked_df = stacked_df.unstack()

print("\nUnstacked DataFrame\n\n")
print(unstacked_df)

Unstacked DataFrame


              Height Residence    Noun
CLASS-1 Ali       25       Lhr     NaN
        Bali      30        LA     NaN
        Shifu     40       Isb     NaN
        Tipu      35       Fsd     NaN
CLASS-2 0         31   Chiniot    Shah
        1         33      Toba   Ehsan
        2         40    Rajana   Ahmed
        3         15     Gojra  Hassan

In [49]:
# GET DUMMIES
dummies_df1 = pd.get_dummies(df1, columns=['Noun', 'Residence'])
dummies_df2 = pd.get_dummies(df2, columns=['Noun', 'Residence'])

print("DataFrame 1 with Dummy Variables:")
print(dummies_df1)

print("\nDataFrame 2 with Dummy Variables:")
print(dummies_df2)

DataFrame 1 with Dummy Variables:
   Height  Noun_Ali  Noun_Bali  Noun_Shifu  Noun_Tipu  Residence_Fsd  \
0      25         1          0           0          0              0
1      30         0          1           0          0              0
2      35         0          0           0          1              1
3      40         0          0           1          0              0

   Residence_Isb  Residence_LA  Residence_Lhr
0              0             0              1
1              0             1              0
2              0             0              0
3              1             0              0

DataFrame 2 with Dummy Variables:
   Height  Noun_Ahmed  Noun_Ehsan  Noun_Hassan  Noun_Shah  Residence_Chiniot  \
0      31           0           0            0          1                  1
1      33           0           1            0          0                  0
2      40           1           0            0          0                  0
3      15           0           0            1          0                  0

   Residence_Gojra  Residence_Rajana  Residence_Toba
0                0                 0               0
1                0                 0               1
2                0                 1               0
3                1                 0               0