In [4]:
student = ['Mary', 'Smith', 3.57, 2022]
student


#iterating over the lists
for i in range (len(student)-1, -1,-1):
    print (student[i], i)

student_ = student
print(student is student_)
#lists are mutable 

print ("Mutability Test")
print(id(student))
student.append("Faisalabad")
print(id(student))
#Mutable objects follows the same reference here!
print(student_)

#but immutable doesn't

tuple1 = (10, 20, 30)
print(id(tuple1))

tuple2 = tuple1
tuple1 += (40, 50)
print(tuple1)
tuple2

#you can check them with id()
print(id(tuple1))

2022 3
3.57 2
Smith 1
Mary 0
True
Mutability Test
1780303073216
1780303073216
['Mary', 'Smith', 3.57, 2022, 'Faisalabad']
1780302492416
(10, 20, 30, 40, 50)
1780302398624

In [16]:
#Logical operations on lists
st3  = ["Abdullah","Younas",3.4,2020,"Faisalabad"]
st4  = ["Ibrahim","Younas",2.4,2020,"Lahore"]



print (st3 >= st4)
print (st3 > st4)
print (st3 < st4)

False
False
True

In [24]:
st3  = ["A","B","U"]
st4  = ["D","E","F"]


print (st3 <= st4)
print (st3 > st4)
print (st3 < st4)

True
False
True

In [28]:
numbers = []
for i in range (20):
    numbers += [i]

print(numbers[:6])
print(numbers[6:])
print(numbers[::6])
print(numbers[::-1])

print(numbers[-1::-1])
numbers[::10] = ['zero','ten']
numbers
numbers[15:] = []
numbers

[0, 1, 2, 3, 4, 5]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]
[0, 6, 12, 18, 24, 30, 36]
[39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

ValueError: attempt to assign sequence of size 3 to extended slice of size 4

In [4]:
del numbers[::10]
numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)
print(sorted(numbers, reverse=True))

print (1000 in numbers)
print (11 in numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14]
[14, 13, 12, 11, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[14, 13, 12, 11, 9, 8, 7, 6, 5, 4, 3, 2, 1]
False
True

In [5]:
print (numbers.index(5))
numbers *=2
#print(numbers)
print (numbers.index(5,11))

# consider the following example

key = 3

if (key in numbers):
    print(f'found key {key} at index {numbers.index(key)}')
else:
    print(f"{key} not found")

8
21
found key 3 at index 10

In [6]:
#lets count the frequency of each item
ratings = []
for i in range(5):
    ratings += [i]
ratings *=5
unique = []
for item in ratings:
    if item not in unique:
        unique.append(item)
        print(f'The count of {item}: {ratings.count(item)}')

The count of 0: 5
The count of 1: 5
The count of 2: 5
The count of 3: 5
The count of 4: 5

In [7]:
#think lists as simulation of stacks

stack = []
stack.append('Red')
stack.append('Yellow')
stack.append('Black')
stack.append('Green')
stack

for i in range(len(stack)):
    if len(stack) > 0:
        print(stack.pop())
    else:
        break

Green
Black
Yellow
Red

In [14]:
#list comprehensions

#creating new lists
new_list = [list for list in range(1,6)]
new_list

#mapping the data
cube_list = [item **3 for item in new_list]
cube_list

#filtering the data
divide_by_two = [item for item in cube_list if item %2 ==0]
divide_by_two

colors = ['red', 'orange', 'yellow', 'green', 'blue']
colors_caps = [color.upper() for color in colors]
colors_caps

color_lower = [color.lower() for color in colors]
color_lower

['red', 'orange', 'yellow', 'green', 'blue']

In [19]:
#generator expressions

squares = (x**2 for x in range (0,10) if x%2==0)
squares
for item in squares:
    print(item, end=' ')
    
#but if you want to create the list with help of generator expressions use list ()

squares_list = list(x**2 for x in range (0,10) if x%2==0)
squares_list

0 4 16 36 64

[0, 4, 16, 36, 64]

In [46]:
#filter, map, reduce

def even_numbers(number):
    return number % 2 == 0

even = list(filter(even_numbers, numbers))
even

#shorthand anonymous functions with lambda keyword
#generic syntax => lambda params_list: expressions
print (numbers)
double = list(map(lambda x:x*2, numbers))
print(double)

fahrenheit = [41, 32, 212]
new_temp = list(map(lambda x: (x, (x - 32) * 5 / 9), fahrenheit))
new_temp

[14, 13, 12, 11, 9, 8, 7, 6, 5, 4, 3, 2, 1, 14, 13, 12, 11, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[28, 26, 24, 22, 18, 16, 14, 12, 10, 8, 6, 4, 2, 28, 26, 24, 22, 18, 16, 14, 12, 10, 8, 6, 4, 2]

[(41, 5.0), (32, 0.0), (212, 100.0)]

In [36]:
#combining iterators

students = ['Bob', 'Sue', 'Amanda']
cgpa = [3.5, 4.0, 3.75]
for name, gpa in zip(students, cgpa):
    print(f'Name={name}; GPA={gpa}')

Name=Bob; GPA=3.5
Name=Sue; GPA=4.0
Name=Amanda; GPA=3.75

In [47]:
#two dimensional lists

sgpas_ = [ [3.0,3.5,4,3.4],
          [3.59,3.53,3.99,3.1],
          [3.14,3.55,3.21,3.3]
]

for i, row in enumerate(sgpas_):
    for j, item in enumerate(row):
        print (f'[{i}][{j}]={item}', end = " ")
    print ('\n')

[0][0]=3.0 [0][1]=3.5 [0][2]=4 [0][3]=3.4

[1][0]=3.59 [1][1]=3.53 [1][2]=3.99 [1][3]=3.1

[2][0]=3.14 [2][1]=3.55 [2][2]=3.21 [2][3]=3.3

In [63]:
class Accounts:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
    def deposit(self, amount):
        self.balance+= amount
    def getBalance(self):
        return self.balance
    def __repr__(self):
        """Return Time string for repr()."""
        return (f'Account Title {self.name} have active balance of {self.balance} rupees')

In [65]:
acc = Accounts("Usman", 100)
acc.deposit(500)
print(acc)

Account Title Usman have active balance of 600 rupees