#### Quiz: Analyzing Student Data

Consider a dataset containing information about students in a school. Use the following randomly generated data for the quiz as following template. The sample data should have following features: <br>
Student ID - RANGE (1-100) <br>
Class : A,B,C <br>
Gender: Male, Female <br>
Subject: EE, CS, SE <br>
Score: 40-100 <br>
##### Submission Guidelines 
Provide solution in given cell only. <br>
Don't write anything for question(s) you're not attempting. <br>
Rename the .ipynb file with following convention to get marked your questions -> 21F-1234_Q4

In [3]:
import pandas as pd
import numpy as np

np.random.seed(42)

# Generate random student data
data = {
    'StudentID': np.arange(1, 101),
    'Class': np.random.choice(['A', 'B', 'C'], size=100),
    # fill the code here to generate values as required
}

#Generate dataframe here

#### 1. Calculate the average score for each class using pivot table.

In [1]:
#Add Solution here
class_avg_score = df.pivot_table(values='Score', index='Class', aggfunc='mean')
print("Average score for each class:\n", class_avg_score)

NameError: name 'df' is not defined

#### 2. Find the total number of students in each class and gender.

In [ ]:
#Add Solution here

#### 3. Create a pivot table to show the average score for each subject by gender.

In [ ]:
#Add Solution here

#### 4. Calculate the maximum score for each subject in each class.

In [ ]:
#Add Solution here

#### 5.1. Generate a stacked bar chart to represent the total number of students in each class and gender.

In [3]:
#Add Solution here

#### 5.2. Plot a scatter plot to visualize the relationship between scores in CS and SE.

In [ ]:
#Add Solution here

#### 5.3. Create a line plot to display the trend of scores over the student IDs.

In [ ]:
#Add Solution here